# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

old_followup_survey_data.csv
backend/credentials.json
backend/templates/resume-file-43f8d240-fc35-4d3b-9dd5-fb5dfed2593c.odt
backend/templates/Transcripts-39b2ad32-6549-4c9e-bcbe-a496f00bace7.pdf
